<?xml version="1.0" encoding="windows-1252"?>
<?eclipse version="3.0"?>
<plugin>
	<extension point="org.eclipse.emf.ecore.generated_package">
		<package 
			uri = "http://www.ru.mars/des/robot/TaskDSL"
			class = "mars.ru.des.robot.taskDSL.TaskDSLPackage"
			genModel = "model/generated/TaskDSL.genmodel" />
	</extension>
</plugin>
